@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.form-box {
    background-color: #f8f8f8;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* width: 70%; */
    
}

.form-title {
    text-align: center;
    line-height: 30px;
}

@media (max-width:480px){
    .form-box{
        padding: 20px;
    }
    body {
        padding: 10px;
    }      
    .warning-banner{
        margin-left: 10px;
        margin-right:10px;
    }
}
.req_star {
    color: red;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}


.liked {
    color: burlywood;
}
@media (min-width:720px){


}

.detail-links{
    color:#007bff;
}

.detail-links:hover{
    text-decoration: underline;
}

.table td{
    vertical-align: middle;
}

.table th{
    vertical-align: middle;
}

.event_table th{
    width: 40%;
}

.artist_table th{
    width:50%;
}

.venue-table th{
    width: 12%;
}
.progress-wrapper{
    position: relative;
}

.current{
    position: absolute;
    top:14px;
    left:15px;
}

agm-map {
    height: 400px;
  }